@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'IranNastaliq';
    src: url('../fonts/IranNastaliq.ttf');
}

.addform{
    width: 80rem;
    height: 28rem;
    display: block;
    margin: 0 auto;
    /* background-color: red; */
}
.form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

label{
    font-size: 2.4rem;
    font-family: 'IranNastaliq', Courier, monospace;
}

input {
    width: 40rem;
    height: 2.4rem;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Poppins-Bold', Courier, monospace;
    outline: none;
    border: none;
    border-radius: 1rem;

    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

button{
    margin-top: 2rem;
    width: 20rem;
    height: 4rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    font-family: 'Poppins-Bold', Courier, monospace;
    transition: all 200ms ease-in;
    font-family: 'IranNastaliq', Courier, monospace;
    font-size: 2rem;
}

button:hover{
    transform: scale(1.1);
}

