@font-face {
    font-family: 'IranNastaliq';
    src: url('../fonts/IranNastaliq.ttf');
}
.book{
    margin-top: 2rem;
    transition: all 140ms ease-in;
}
.book:hover{
    transform: scale(1.04);
    cursor: pointer;
}

.book{
    position: relative;
}


span{
    font-family: 'IranNastaliq', Courier, monospace;
}
.book-name{
    position: absolute;
    left: 7rem;
    font-size: 2rem;
}

.book-author{
    position: absolute;
    top: 3.8rem;
    left: 7rem;
    font-size: 2rem;
}

.book-year{
    position: absolute;
    top: 9.4rem;
    left: 7rem;
}